<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="فبهداهم اقتده"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProject">
        <activity android:name=".character.PlacesExetract"></activity>
        <activity android:name=".character.CharAttr" />
        <activity android:name=".attribute.AttributeChar" />
        <activity android:name=".BookDetailActvity" />
        <activity android:name=".attribute.ContentOfEachAttr" />
        <activity android:name=".audio.PlayerActivity" />
        <activity android:name=".character.ContentOfEachChar" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>